<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>测试窗口</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/css/bootstrap.css}" href="../css/bootstrap.css" rel="stylesheet"/>
    <!--<link th:href="@{/bootstrap/css/bootstrap-theme.css}" href="../static/bootstrap/css/bootstrap-theme.css"
          rel="stylesheet"/>
    <script th:src="@{/script/jquery-3.1.1.min.js}" src="../static/scripts/jquery-3.1.1.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}" src="../static/bootstrap/js/bootstrap.js"></script>-->
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading text-center">
                    <span class="panel-title">公司信息</span>
                </div>
                <div class="panel-body">
                    <!--公司链接：<span th:text="#{company.url}">www.it.com</span><br/>
                    公司名称：<span th:text="#{company.name}">中国IT控股有限公司</span><br/>
                    公司代码：<span th:text="#{company.code}">00370.hk</span><br/>-->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>